QProxy/Configuration/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="Q.Configuration" xmlns="Q.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="listeners" type="listeners" maxOccurs="1" />
        <xs:element name="dnshelper" type="dnshelper" />
        <xs:element name="logger" type="logger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="listeners">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="listener" type="listener">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listener">
    <xs:sequence>
      <xs:element name="tunnel" type="tunnel" minOccurs="0"/>
      <xs:element name="proxy" type="proxy" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="proxyType" use="required" />
    <xs:attribute name="host" type="xs:string" use="required" />
    <xs:attribute name="port" type="xs:unsignedShort" use="required" />
    <xs:attribute name="decryptSSL" type="xs:boolean" use="optional" />
  </xs:complexType>
  <xs:complexType name="tunnel">
    <xs:attribute name="type" type="tunnelType" use="required" />
    <xs:attribute name="url" type="xs:string" use="optional" />
    <xs:attribute name="encrypted" type="xs:boolean" use="optional" />
  </xs:complexType>
  <xs:complexType name="proxy">
    <xs:attribute name="type" type="proxyType" use="required" />
    <xs:attribute name="host" type="xs:string" use="required" />
    <xs:attribute name="port" type="xs:unsignedShort" use="required" />
  </xs:complexType>
  <xs:simpleType name="proxyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="socks" />
      <xs:enumeration value="http" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tunnelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="local" />
      <xs:enumeration value="http" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="dnshelper">
    <xs:sequence>
      <xs:element name="hosts" type="hosts" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hosts">
    <xs:sequence>
      <xs:element name="add" maxOccurs="unbounded">
        <xs:complexType >
          <xs:attribute name="host" type="xs:string" use="required" />
          <xs:attribute name="ip" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logger">
    <xs:sequence>
      <xs:element name="add" maxOccurs="unbounded">
        <xs:complexType >
          <xs:attribute name="type" type="loggerType" use="required" />
          <xs:attribute name="level" type="loggerLevel" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="loggerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="console" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="loggerLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="error" />
      <xs:enumeration value="warnning" />
      <xs:enumeration value="info" />
      <xs:enumeration value="debug" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>